{include file="public/searchheader" title="列表"}
<link rel="stylesheet" href="/static/css/index/mui.min.css">
<link rel="stylesheet" href="/static/css/index/list.css">
<script src="__JS__/mui.min.js"></script>
<!--下拉刷新容器-->
<div id="pullrefresh" class="mui-content mui-scroll-wrapper list-box">
    <div class="mui-scroll">
        <!--数据列表-->
        <ul class="mui-table-view mui-table-view-chevron"></ul>
    </div>
</div>
<script>
    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                auto:true,//页面加载时默认下拉
                style:'circle',
                callback: pulldownRefresh
            },
            up: {
                contentrefresh: '正在加载...',
                callback: pullupRefresh
            }
        }
    });

    var count = 0;
    function pullupRefresh() {
        setTimeout(function() {
            mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
            var table = document.body.querySelector('.mui-table-view');
            var cells = document.body.querySelectorAll('.mui-table-view-cell');
            var newCount = cells.length>0?5:20;//首次加载20条，满屏
            for (var i = cells.length, len = i + newCount; i < len; i++) {
                var li = document.createElement('li');
                li.className = 'mui-table-view-cell';
                li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
                table.appendChild(li);
            }
        }, 1500);
    }

    function addData(data) {
        var table = document.body.querySelector('.mui-table-view');
        let html='';
        data.forEach(ele=>{
            html+=` <li class="newStart-items">
                <div class="picture1">
                    <img src="${ele.gthumb}" alt="">
                </div>
                <div class="VERFO">
                    <div class="line3"></div>
                    <p class="text3">${ele.etitle}</p>
                    <p class="text4">${ele.ctitle}</p>
                </div>
                <div class="buy">
                    <p class="price">
                        <b>${ele.price}</b>RMB
                    </p>
                    <a href="" class="Click">
                        <i class="iconfont icon-tianjia1"></i> 点击购买
                    </a>
                </div>
                <div class="newStart-hot"></div>
            </li>
           `;
        })
        table.innerHTML=html+table.innerHTML;
    }
    /**
     * 下拉刷新具体业务实现
     */
    function pulldownRefresh() {
        count++;
        mui.ajax("{:url('index/lists/query')}",{
            data:{
                page:count,
                limit:4,
            },
            dataType:"json",
            success:function(res){
                addData(res.data);
                mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
            }
        })
        // setTimeout(function() {
        //     addData();
        //     mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
        //     mui.toast("为你推荐了5篇文章");
        // }, 1500);
    }

</script>
</body>

</html>