<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="{$web['keywords']}">
    <meta name="description" content="{$web['des']}">
    <meta name="author" content="{$web['copyright']}">
    <link rel="stylesheet" href="/static/css/index/rem.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1184211_k27lzcdycb.css">
    <link rel="stylesheet" href="/static/css/index/swiper.min.css">
    <title>[title]</title>
</head>

<body>
<!-- 头部开始 -->
<header>
    <div class="header-box">
        <div class="header-box-left" href="">
            <a href="../PersonalWeb/w1.html"></a>
        </div>
        <div class="header-box-middle">
        </div>
        <div class="header-box-right" href="">
            <a href="javascript:void(0)"><i class="iconfont icon-sangedian"></i></a>
        </div>
    </div>
</header>
<!-- 头部结束 -->
<div class="box"></div>