{include file="public/header" title="个人管理页面"}
{include file="public/aside"}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">网站标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入网站标题" autocomplete="off" class="layui-input" value="{$webinfo['title']}" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站关键字</label>
            <div class="layui-input-block">
                <input type="text" name="keywords" placeholder="请输入网站关键字" autocomplete="off" class="layui-input" value="{$webinfo['keywords']}" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站版权</label>
            <div class="layui-input-block">
                <input type="text" name="copyright" placeholder="请输入网站版权" autocomplete="off" class="layui-input" value="{$webinfo['copyright']}" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站描述</label>
            <div class="layui-input-block">
                <textarea name="des" id="" cols="30" rows="10" required>{$webinfo['des']}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>

{include file="public/footer"}
</div>

<script>
    //JavaScript代码区域
    layui.use(['element','form'], function(){
        var element = layui.element;
        let {form,$}=layui;
        form.on('submit(*)', function(data){
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            let {elem,form,field}=data;
            $.ajax({
                url: "{:url('admin/info/setting')}",
                type:"POST",
                dataType:"json",
                data:field,
                success:function(r){
                    layer.open({
                        type: 0,
                        content:r.msg //这里content是一个普通的String
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
