<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理</title>
    <link rel="stylesheet" href="__STATIC__/css/layui.css">
    <script src="__STATIC__/layui.js"></script>
    <style>
        .layui-form-label{
            width:auto;
        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-inline">
                <select name="cid" lay-filter="aihao">
                    <option value=""></option>
                    {volist name='category' id='vo'}
                    <option value="{$vo['cid']}">{$vo['cname']}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="ctitle" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">范围</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" data-type="reload">立即提交</button>
        </div>
    </div>
</form>
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="query">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="colorTpl">
  {{# d.gcolor.split(",").forEach(ele=>{ }}
  <button class="layui-btn layui-btn-sx" style="background:{{ ele }};"></button>
  {{#  });  }}
</script>
<script type="text/html" id="bannerTpl">
    {{# d.gbanner.split(",").forEach(ele=>{ }}
    <img src="{{ ele }}" alt="">
    {{#  });  }}
</script>
<script type="text/html" id="detailTpl">
    {{# d.gdetail.split(",").forEach(ele=>{ }}
    <img src="{{ ele }}" alt="">
    {{#  });  }}
</script>
<script>
    //模块化使用，加载layui中的模块
    layui.use(["element",'table', 'layer','laytpl'], function () {
        //结构
        let {table, $, layer,laytpl} = layui;
        //表格数据的渲染
        let goodstable= table.render({
            elem: "#demo",
            cellMinWidth: 80,
            url: "{:url('admin/goods/getgoods')}",
            cols: [[
                {field: "id", title: "商品id",fixed: 'left' },
                {
                    field: "ctitle", title: "中文名", width:120,edit: 'text', templet: function (res) {
                        return '<b>' + res.ctitle + '</b>'
                    }
                },
                {field: "etitle", title: "英文名", edit: 'text',width:120},
                {field: "price", title: "价格", edit: 'text',width:80},
                {field: "gdes", title: "描述", edit: 'text',width:120},
                {field: "gspec", title: "规格", edit: 'text',width:120},
                {field: "gtype", title: "种类", edit: 'text',width:120},
                {field: "gcolor", title: "颜色", edit: 'text',templet:"#colorTpl",width:200},
                {field: "cid", title: "所属分类", edit: 'text',width:120},
                {field: "gstock", title: "商品规格", edit: 'text',width:120},
                {field: "gdistribution", title: "配送信息", edit: 'text',width:120},
                {field: "create_time", title: "上架时间", edit: 'text',width:120},
                {field: "update_time", title: "下架时间", edit: 'text',width:120},
                {field: "gthumb", title: "缩略图", edit: 'text',templet:function(d){
                        return `<img src="${d.gthumb}">`;
                    },width:200},
                {field: "gbanner", title: "轮播图", edit: 'text',templet:"#bannerTpl" ,width:200},
                {field: "gdetail", title: "详情图", edit: 'text',templet:"#detailTpl",width:200},
                {fixed: 'right', title: '操作', toolbar: '#barDemo',width:180}
            ]],
            data: [],
            page: true, //开启分页
            limit: 3,//限制条数
        });
        //搜索通过id显示对应的数据 表格重载
        $("button[data-type=reload]").on("click", function () {
            let formData=$("form").serializeArray();//序列化表单数据 把标配单数据放在数组中
            let formObj={};
            formData.forEach(ele=>{
                let {name,value}=ele;
                formObj[name]=value;
            });

            goodstable.reload({
                where: formObj,//设定异步数据接口的额外参数，任意设
                page: {curr: 1},//重新从第 1 页开
            });
            return false;
        });
        //监听工具条//删除
        //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        table.on("tool(test)", function (obj) {
            // console.log(obj);
            let {data, event, del} = obj;
            if (event == "del") {
                layer.confirm("确定要删除么？", function (index) {
                    layer.close(index1);
                    //加载动画
                    let index1 = layer.load(2);
                    $.ajax({
                        url: "{:url('admin/goods/delgoods')}",
                        data: {id: data.id},
                        type: "post",
                        success: function (res) {
                            let {code, msg} = res;
                            layer.close(index1);
                            let icon = code == 0 ? 6 : 5;
                            if (code == 0) {
                                del();//前台页面的删除
                            }
                            layer.msg(msg, {icon});
                        }
                    })
                })
            }else if(event=="edit"){
                layer.open({
                    title:"商品编辑"+data.ctitle,
                    type:2,
                    content:"{:url('admin/goods/editgoods')}?id="+data.id,
                    maxmin:true,
                    area:["450px","500px"],
                })
            }else if(event=="query"){
                layer.open({
                    title:"商品查看"+data.ctitle,
                    type:2,
                    content:"{:url('admin/goods/querygoods')}?id="+data.id,
                    maxmin:true,
                    area:["450px","500px"],
                })
            }
        });

    })
</script>
</body>
</html>